<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helenwang.ivote">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainViewMobile"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CongressionalViewMobile"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.example.helenwang.ivote.CongressionalViewMobile.class" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailedViewMobile"
            android:theme="@style/AppTheme" />

        <service android:name=".PhoneToWatchService" />
        <!-- Listeners are special services that need to be declared like below, as BIND_LISTENER -->
        <service
            android:name=".PhoneListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <!-- sets Google API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBkW-nqSsAyAkjQdb-LMbJSfpJVRyvZOqQ" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
